@import 'stick/function'
@import 'stick/mixin'

html, body
  margin 0
  padding 0

html
  monospace()
  color gray
  background-color white

.basic-app
  padding 1em

@require modalLayout

// Override
.modalLayout__box
  display flex
  justify-content center
  align-items center

