doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title Modal Example
    link(rel='stylesheet', href='css/app.css')
    link(rel='shortcut icon', type='image/ico', href='favicon.ico')
    if (build)
      script(src='js/main.js', async)
    else
      script(src='js/lib/require.js', data-main='js/main', async)
  body
    article.basic-app
      h1 Modal Example
      p Making a better and awesome web!!!
      - for (var i = 0; i < 100; i++)
        p xxx

      button#btnModalOpen(type="button") Open
      button#btnModalClose(type="button") Close
      button#btnModalDestroy(type="button") Destroy


